# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Venv
litgo-detector/

# Training data images
*.jpg
*.jpeg
*.png

# MacOS
.DS_Store


# Model save files are too large for github
*.pt
*.pth
